body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e7d8d2;
}

#gridContainer{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    width: 512px;
    height:512px;
    border: 5px solid maroon;
    background-color: rgb(206, 198, 198);
}

#resetButton{
    margin: 25px;
}
